.cart {
  @include flex(flex-start, flex-start);

  @include mobile {
    flex-wrap: wrap;
  }

  &__info {
    width: 40%;
    margin-right: 30px;
    margin-top: 30px;
    box-shadow: var(--box-shadow);
    position: sticky;
    padding: 20px;
    top: calc(var(--header-shrink-height) + 20px);

    &__txt {
      > * {
        margin-bottom: 10px;
      }

      p {
        font-size: 1.25rem;
      }

      &__price {
        @include flex(center, space-between);
        padding: 10px 0;
        font-size: 1.25rem;

        span:nth-child(2) {
          font-size: 2rem;
          color: var(--main-color);
          font-weight: 600;
        }
      }
    }

    &__btn {
      > button:first-child {
        margin-bottom: 20px;
      }
    }
  }

  &__list {
    flex-grow: 1;
  }

  &__item {
    @include flex(center, flex-start);
    margin-bottom: 20px;

    &__image {
      margin-right: 20px;

      img {
        height: 120px;
      }
    }

    &__info {
      @include flex(center, space-between);
      flex-grow: 1;

      &__name {
        width: 40%;
      }

      &__name,
      &__price {
        font-size: 1.25rem;
      }

      &__quantity {
        .product__content__quantity {
          margin-top: 0;
        }
      }

      &__del {
        font-size: 2.25rem;

        i {
          cursor: pointer;

          &:hover {
            color: var(--red-color);
          }
        }
      }
    }
  }
}
