.footer {
  padding: 70px 0;
  box-shadow: var(--box-shadow);
  font-size: 1.1rem;

  &__about {
    p {
      margin-bottom: 2rem;
    }
  }

  &__logo {
    p {
      margin-bottom: 0;
    }
    span {
      font-size: 3rem;
      font-weight: 900;
      font-family: 'Lobster', sans-serif;
      transition: all 300ms;
      background: -webkit-linear-gradient(80deg, #008140, #6de039);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 10px;
      display: block;
    }
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 600;
  }

  &__content {
    p {
      margin-bottom: 1.25rem;
    }
    a {
      transition: all 300ms;
    }
  }
}
